---
http_interactions:
- request:
    method: get
    uri: http://api.doorkeeper.jp/events/24
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Status:
      - 404 Not Found
      X-Ratelimit:
      - '{"name":"annonymous API","period":300,"limit":100,"remaining":98,"until":"2016-03-10T13:50:00Z"}'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 10 Mar 2016 13:49:48 GMT
recorded_with: VCR 2.9.3
