.container
  .col-md-10
    = form_for(@user) do |f|
      - if @user.errors.any?
        #error_explanation
          h2
            = pluralize(@user.errors.count, "error")
            |  prohibited this user from being saved:
          ul
            - @user.errors.full_messages.each do |message|
              li = message
      .form-group.form-group-lg
        = f.label :introduction
        = f.text_area :introduction , :rows => 10, :class => "form-control"
      .form-group.form-group-lg
        = f.label :twitter_name
        .input-group
          span.input-group-addon @
          = f.text_field :twitter_name , :class => "form-control"
      .form-group.form-group-lg
        = f.label :facebook_name
        .input-group
          span.input-group-addon https://www.facebook.com/
          = f.text_field :facebook_name , :class => "form-control"
      .form-group.form-group-lg
        = f.label :name
        = f.text_field :name , :class => "form-control"
      .form-group.form-group-lg
        = f.label :location
        = f.text_field :location , :class => "form-control"
      .form-group.form-group-lg
        = f.label :blog
        = f.text_field :blog , :class => "form-control"
      .actions
        = f.submit(:class => "btn btn-success btn-lg", :value => "更新" )
  .col-md-2
    h2 タグの作成
    = link_to 'タグ作成', new_interest_path, class: "btn btn-primary btn-lg"
    h2 退会する
    = link_to '退会', @user, method: :delete, data: { confirm: '退会してもよろしいですか？' }, class: "btn btn-danger btn-lg"
