// custom icon fonts for rubyist_co
@font-face {
  font-family: 'rubyist_co';
  src:url(font-path('rubyist_co.eot') + '?-3zppnw');
  src:url(font-path('rubyist_co.eot') + '?#iefix-3zppnw') format('embedded-opentype'),
    url(font-path('rubyist_co.woff') + '?-3zppnw') format('woff'),
    url(font-path('rubyist_co.ttf') + '?-3zppnw') format('truetype'),
    url(font-path('rubyist_co.svg') + '?-3zppnw#rubyist_co') format('svg');
  font-weight: normal;
  font-style: normal;
}

.rc-ico {
  font-family: 'rubyist_co';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.07em;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rc-ico-qiita:before {
  content: "\e600";
}