.current_user_profile
  .sns-icons
    i
      font-size: 20px

.page-users.page-show
  .sns-icons
    margin-bottom: 10px

.event-user-links
  .prev-user, .next-user, .link-divider
    display: inline-block